<p id="notice"><%= notice %></p>

<div class="posts">
<% @pictures.each do |picture| %>
  <div class="post">
    <p><%= picture.user.name %></p>
    <p><%= image_tag picture.image.url %></p>
    <p><%= picture.content %></p>
    <div class="flex_box">
      <p><%= link_to 'Show', picture %></p>
    <% if current_user.id == picture.user_id %>
      <p><%= link_to 'Edit', edit_picture_path(picture) %></p>
      <p><%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' } %></p>
    <% end %>
    </div>
  </div>
<% end %>
</div>