<!DOCTYPE html>
<html>
  <head>
    <title>FbCloneAppExam</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="innerWrap">
        <div class="menu">
          <% if logged_in?%>
            <%= link_to "Logout", session_path(current_user.id), method: :delete %><%= stylesheet_link_tag%>
            <%= link_to "Home", user_path(current_user.id) %>
            <%= link_to 'New Picture', new_picture_path %>
          <% else %>
            <%= link_to "Sign up", new_user_path %>
            <%= link_to "Login", new_session_path %>
          <% end %>
          </div>
        <h1>fakebook</h1>
      </div>
    </header>
    <main class="container">
      <div class="innerWrap">
        <% flash.each do |key, value| %>
          <%= content_tag(:div, value, class: "#{key}") %>
        <% end %>
        <%= yield %>
      </div>
    </main>
    <footer>
      <p>©mayu nishikawa</p>
    </footer>
  </body>
</html>
